
:root {
    --active-color: rgba(76, 217, 100, 1);
}

:root{
    --background: white;
    --background2: #ececeb;
    --main-color:#fe7a15;
    --second-color:#537ec8;
    --third-color:#10316b;
    --text-color:black;
    --two-text-color: #727272;
  
  
    --text-main: cursive;
    --text2: 'Raleway',sans-serif;
}

.setting-notification {
    background: var(--background);
}

.setting-notification .top .img img{
    width: 100%;
    height: auto;
}

.setting-notification .top .img2 img {
    position: absolute;
    top: 8vw;
    right: 8vw;
    width: 35vw;
    height: auto;
}

.setting-notification .top .title {
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--text-main);
    position: absolute;
    top: 10vw;
    left: 7vw;
    color: white;
}

.setting-notification .body {
    margin-top: 30px;
    margin-left: 20%;
}

.setting-notification .body .title {
    font-size: 2.5vw;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: var(--main-color);
    font-weight: 600;
    font-family: var(--text-main);
}

.setting-notification .body .title img {
    width: 4vw;
    height: auto;
    transform: translateY(10px);
}

.setting-notification .body .type {
    padding: 25px 10px;
    
}

.setting-notification .body .type div {
    display: inline-flex;
}

.setting-notification .body .type .switch {
    height: 1.3vw;
    width: 2.6vw;
    background: var(--text-color);
    border-radius: 96px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform: translateY(10px);
    margin-right: 25px;
}
  
.setting-notification .body .type .switch:hover {
    border-color: rgba(0, 0, 0, 0.2);
}
  
.setting-notification .body .type .switch:hover::after {
    box-shadow: 0 4px 12px var(--text-color);
}

.setting-notification .body .type .switch.active {
    background-color: var(--active-color);
    border-color: var(--active-color);
}
  
.setting-notification .body .type .switch.active:hover {
    border-color: rgba(69, 198, 91, 1);
}

.setting-notification .body .type .switch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--background2);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    /* box-shadow: 0 2px 8px var(--text-color); */
}

.setting-notification .body .type .switch.active::after {
    margin-left: 50%;
}  


.setting-notification .body .type .text {
    font-size: 1.5vw;
    font-family: var(--text2);
    color: var(--two-text-color);
}

.setting-notification .body .type .switch.active + .text {
    color: var(--text-color);
}
